section.section-stretched.section-boxed.section-height-default-bgv {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 120px 0 125px;
    background-color: #111;
}
.column-wrap.populated-bgv {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}
.background-bgv {
    transition: background .3s,border-radius .3s,opacity .3s;
}
h3.aheto-heading__title-bgv {
    text-align: left;
    color: #fff;
}
p.aheto-heading__title-bgv {
    text-align: left;
    color: #fff;
}
/* bgh */
section.section-stretched.section-boxed-bgh.section-height-default-bgh {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 130px 0 0;
}
.column-wrap.populated-bgh {
    background-color: #f2f2f2;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    border-radius: 20px 20px 20px 20px
}
.widget-wrap-bgh {
    padding: 70px;
}
.widget.widget-aheto_heading-bgh {
    margin-bottom: 20px;
}
.elementor-widget-container {
    margin: 0 80px 30px 0;
    padding: 0;
}
.column-wrap-bgh.populated-bgh {
    padding: 0 8px 0px 0px;
}
.aheto-contents--faq .aheto-contents__title {
    margin: 0;
    padding: 27px 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.widget-wrap-bgh-col {
    padding: 0 8px 0 0;
}